<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h4>

      <ul>
      <% @log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class='col-md-3'>
      <div class="form-group">
        <%= label_tag "Place:" %><br>
        <div class='input-group' id='place'>
          <%= select("post", "place_id", Place.all.collect {|p| [ p.name, p.id ] }, {}, class: "form-control")%>
        </div>
      </div>
    </div>
  </div>

  
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
              <%= label_tag "Signed In at:" %><br>
                <div class='input-group date' id='datetimepicker1'>                    
                    <%= f.text_field :signin, 'data-behaviour' => 'datetimepicker', class: "form-control", :value=> Time.parse(f.object.signin.to_s).strftime('%d/%m/%Y %H:%M') %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>




  
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
              <%= label_tag "Signed Out at:" %><br>
                <div class='input-group date' id='datetimepicker2'>                    
                    <%= f.text_field :signout, 'data-behaviour' => 'datetimepicker', class: "form-control", :value=> Time.parse(f.object.signout.to_s).strftime('%d/%m/%Y %H:%M %z') %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                //var now1 = moment("<%= f.object.signout %>");
                //var now2 = moment("<%= Time.parse(f.object.signout.to_s).strftime('%d/%m/%Y %H:%M %z') %>");
                //var now3 = moment("<%= Time.parse(DateTime.now.to_s).strftime('%d/%m/%Y %H:%M') %>");
                //alert(now);
                $('#datetimepicker1').datetimepicker({
                    format: 'DD/MM/YYYY HH:mm'
                    ,maxDate: moment("<%= DateTime.now %>")
                });

                $('#datetimepicker2').datetimepicker({
                    format: 'DD/MM/YYYY HH:mm'
                    ,maxDate: moment("<%= DateTime.now %>")
                });
                //$('#datetimepicker1').data("DateTimePicker").maxDate('now');
                //$('#datetimepicker2').data("DateTimePicker").maxDate('now');


                $("#datetimepicker1").on("dp.change", function (e) {
                    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                });


                $("#datetimepicker2").on("dp.change", function (e) {
                    $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                });
            });
        </script>
    </div>
    <div class="row">
      <div class='col-md-3'>
        <div class="form-group">
          <%= label_tag "Additional Hours:"%><br>
          <div class='input-group' id='bonus'>
            <%= f.number_field :bonus, class: "form-control", :value=> Time.parse(f.object.bonus.to_s).strftime('%H') %>


          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Update', class: "btn btn-primary btn-danger"%>
    </div>
<% end %>
