<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <% if current_user.admin? %>
          <th>
            Employee
          </th>
        <% end %>
        <th>
          Sign In
        </th>
        <th>
          Sign Out
        </th>
        <th>
          Place
        </th>
        <th>
          Total
        </th>
        <th>
          Additional Hours
        </th>
        <th>
          Action
        </th>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
        <% wrktime = 0 %>
        <tr>
          <% if current_user.admin? %>
            <td class="col-md-1"><%= log.user.firstname+" "+log.user.lastname %></td>
          <% end %>
          <td class="col-md-1"><%= Time.parse(log.signin.to_s).strftime('%d/%m/%Y %H:%M') %></td>
          <td class="col-md-1"><% if log.signin != log.signout %><%= Time.parse(log.signout.to_s).strftime('%d/%m/%Y %H:%M') %><% else %><%="Active Shift"%> <% end %> </td>
          <td class="col-md-1"><%= log.place.name %></td>
          <%  wrktime = log.signout.to_i - log.signin.to_i
              mm, ss = wrktime.divmod(60)
              hh, mm = mm.divmod(60)
              rr,qq = mm.divmod(15) #qq is used to calculate the rounded values
          %>
          <td class="col-md-1">
            <%=  hh.to_s.rjust(2, '0') %>:<%= mm.to_s.rjust(2, '0') %>
          </td>

          <td class="col-md-1">
            <% if log.bonus  %><%= Time.parse(log.bonus.to_s).strftime('%H:%M') %>
                <% else %><%= Time.parse("0:00").strftime('%H:%M') %>

            <% end %>
          </td>
          <td class="col-md-1">
            <% if current_user.admin? %>
              <%= link_to 'Edit', edit_log_path(log), class: "btn btn-link mclink" %>

            <% else %>

                <%## if (Time.parse(log.created_at.to_s).strftime('%d/%m/%Y')) >= (Time.parse((DateTime.now - 2).to_s).strftime('%d/%m/%Y')) %>
                <% if log.signin == log.signout  %>
                    <%= link_to 'Sign Out', signout_path, class: "btn btn-link mclink" %>
                <% else %>
                  <%="Period Closed"%>
               <% end %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>