<h1>Listing logs</h1>

<table>
  <thead>
    <tr>
      <th>Sign In</th>
      <th>Sign Out</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= Time.parse(log.Signin.to_s).strftime('%Y/%m/%d %H:%M')%></td>
        <td><%= Time.parse(log.Signout.to_s).strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= link_to 'Show', log, class: "btn btn-link mclink" %></td>
        <td><%= link_to 'Edit', edit_log_path(log), class: "btn btn-link mclink" %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link mclink" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path, class: "btn btn-link mclink" %>
