<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @log.place.name %>
</p>

<p>
  <strong>Signin:</strong>
  <%= Time.parse(@log.Signin.to_s).strftime('%d/%m/%Y %H:%M') %>
</p>

<p>
  <strong>Signout:</strong>
  <%= Time.parse(@log.Signout.to_s).strftime('%d/%m/%Y %H:%M') %>
</p>

<%= link_to 'Edit', edit_log_path(@log), class: "btn btn-link mclink" %> |
<%= link_to 'Back', logs_path, class: "btn btn-link mclink" %>
