<h3>Worked Hours</h3>
  <p>From: <%= Time.parse(@mindate.to_s).strftime('%d/%m/%Y')%><p/>
  <p>To: <%= Time.parse(@maxdate.to_s).strftime('%d/%m/%Y')%><p/>
<% if current_user.admin? %>
  <p>Employee: <% if @userselected.present? %> <%=  @userselected.firstname+" "+ @userselected.lastname %><% else %>All Employees <% end %><p/>
  <p>Client:<% if @clientname.present? %> <%= @clientname %><p/>
        <%if @userselected.present?%>
            <%= render 'detailed' %>
        <% else if  @typerep != "Detailed" %>
            <%= render 'summarised' %>
                <% end %>
        <% end %>
    <% else %>All Clients<p/>

        <%if @typerep == "Detailed" %>
            <%= render 'detailed' %>
        <% else %>
            <%= render 'summarised' %>
        <% end %>
    <% end %>
  <% else %>

    <%= render 'detailed' %>

  <% end %>

<%= link_to 'New Report', reports_path, class: "btn btn-link mclink" %>