<h3>Generate Report</h3>
<%= form_tag("reports", method: "post") do %>

<% if current_user.admin? %>
  <div class="row">
    <div class='col-md-3'>
      <div class="form-group">
        <div class='input-group' id='user'>
          <%= select("post", "person_id", @users.collect {|p| [ p.firstname+" "+p.middlename+" "+p.lastname, p.id ] }, { include_blank: "All Employees" },{ class: "form-control", onchange: "rep_det_sum()"})%>
        </div>
      </div>
    </div>
  </div>
  <div id="sum_det" class="row">
    <div class='col-md-3'>
      <div class="form-group">
        <div class='input-group' id='typereport'>
        <%= select("post","typerep", %w[Summarised Detailed], {},class:"form-control") %>
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class='col-md-3'>
      <div class="form-group">
        <div class='input-group' id='client'>
          <%= select("post", "client_id", @client.collect {|p| [ p.name, p.id ] }, { include_blank: "All Clients"}, class: "form-control")%>
        </div>
      </div>
    </div>
  </div>
<% end %>


  <div class="row">
    <div class='col-md-3'>
      <div class="form-group">
        <div class='input-group date' id='mindate'>
          <%= text_field_tag 'mindate',(Time.now - 14.days + 14.hours).strftime('%d/%m/%Y'), class: "form-control"%>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class='col-md-3'>
      <div class="form-group">
        <div class='input-group date' id='maxdate'>
          <%= text_field_tag 'maxdate',(Time.now - 1.day + 14.hours).strftime('%d/%m/%Y'), class: "form-control"%>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
      $('#mindate').datetimepicker({
        format: 'DD/MM/YYYY'
      }); 
      $('#maxdate').datetimepicker({
        useCurrent: false ,//Important! See issue #1075
        format: 'DD/MM/YYYY'
      });
      $("#mindate").on("dp.change", function (e) {
        $('#maxdate').data("DateTimePicker").minDate(e.date);
      });
      $("#maxdate").on("dp.change", function (e) {
        $('#mindate').data("DateTimePicker").maxDate(e.date);
      });

      rep_det_sum();

    });
  </script>

  <div class="actions">
    <%= submit_tag("Generate Report", class: "btn btn-primary btn-danger")%>
  </div>
<% end %>


<%= link_to 'Back', logs_path, class: "btn btn-link mclink" %>