<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class='col-md-3'>
        <div class="form-group">
          <%= label_tag :title, :Client %><br>
          <div class='input-group' id='client'>
            <%= select("post", "client_id", @clients.collect {|p| [ p.name, p.id ] }, {:selected => @place.client.name}, class: "form-control")%>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class='col-sm-3'>
      <div class="form-group">
        <%= f.text_field :name, :placeholder => "Name", class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.submit "Save Place", class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>

